.container {
  display: flex;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  align-items: center;

  .left,
  .right {
    font-size: 1.8rem;
    color: #494949;
    cursor: pointer;
  }

  .left:hover,
  .right:hover {
    color: #4d8bf4;
  }

  .unleft,
  .unright {
    font-size: 2rem;
    color: #d5d5d5;
    cursor: not-allowed;
  }

  .option {
    color: #494949;
    font-size: 1rem;
    width: 22px;
    height: 22px;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #4d8bf4;
    }
  }
}
