.slick_slide {
  max-width: 10.757%;
  min-width: 94.8px;
  height: 90%;
  cursor: pointer;
  // background-color:coral;

  > div {
    height: 55px;

    li {
      list-style: none;
      height: 55px;
      display: inline-block;
      width: 100%;
      line-height: 55px;
      height: 2px;
      background-color: #333;
      text-align: center;
      .logo {
        width: 32px;
        height: 32px;
        background-position: center;
        background-size: 100% 100%;
        margin: auto;
        margin-top: -17%;
        border-radius: 50%;
      }

      .slick_active {
        transform: scale(1.5);
      }
    }
  }
}
