@use '/styles/colors_dark.scss' as darkC;


.dark {
  background-color: darkC.$dark_background;
  color: darkC.$dark_font;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 0 0;

  .link {
    display: flex;
    width: 90%;
    justify-content: space-between;
    // background-color: aqua;
    height: 40px;
    align-items: center;
  }

  .statement {
    color: #aeaeae;
  }

  .beian {
    color: #aeaeae;
  }
}

// link
.link {
  .otherLinks {
    .linkName {
      font-size: 1.5rem;
      font-weight: 600;
      color: #aeaeae;
      margin: 0 10px 0 0;
    }
  }

  .logo {
    width: calc(20% + 10px);
    display: flex;
    align-items: center;
    // background-color: antiquewhite;
    .logoName {
      font-size: 1.5rem;
      margin: 0 5px;
      font-weight: 700;
      color: #aeaeae;
    }
  }
}

@media (min-width: 650px) and (max-width: 1000px) {
  .link {
    .logo {
      width: 30%;
    }
  }
}

@media (max-width: 650px) {
  .link {
    .logo {
      width: 40%;
      display: flex;
      align-items: center;
      // background-color: antiquewhite;
    }
  }
}



@media (max-width: 450px) {
  .link {

    .otherLinks {
    .linkName {
      font-size: 1rem;
      margin: 0 5px 0 0;
    }
  }


    .logo {
      width: 45%;
      display: flex;
      align-items: center;
      // background-color: antiquewhite;

      .logoName {
      font-size: 1rem;
      margin: 0 5px;
      font-weight: 700;
      color: #aeaeae;
    }
    }
  }
}
