.slick_slide {
  margin: auto;
  width: 70%;
  height: 100%;
  opacity: 0;
  transform: translate(-50%, 0);
  position: relative;
  left: 8%;
  transition: opacity .4s ease;

  .stone_wrapper {
    max-width: 100%;
    min-width: 637.75px;
    height: 232px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 5px 5px rgb(0 0 0 / 15%);

    > img {
      width: 50%;
      height: 100%;
    }

    .stoneWords {
      width: 50%;
      height: 100%;
    }
  }
}

.stoneWords {
  margin: 2% 5% 0 6%;
  .time {
    font-weight: 700;
    font-size: 25px;
    // margin-left: 20px;
  }
}

.slick_active {
  opacity: 1;
}
