.container {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;

  .title {
    font-size: 30px;
    font-weight: 700;
    padding:  0 15vw;
  }

  .history {
    width: 70%;
    height: 359px;
    margin: auto;
    display: flex;
    flex-direction: column;

    .carouse1 {
      position: relative;
      width: 100%;
      height: 70%;
      display: flex;
      // background-color: bisque;
    }

    .carouse2 {
      width: 100%;
      height: 30%;
      display: flex;
      align-items: center;
      // background-color: chocolate;
    }
  }
}

.carouse1 {
  .slick_list {
    width: 100%;
    height: 80%;
    position: relative;
    // margin: auto;
    // background-color: blueviolet;
    overflow: visible;
  }
}

.slick_track {
  height: 100%;
  display: flex;
  position: relative;
  overflow: visible;
}

// 下拉栏

.carouse2 {
  .slick_list {
    height: 55px;
    margin: auto;
    // background-color: brown;
    
    .slick_track {
      height: 55px;
    }
  }
}
